//
//  dev.xcconfig
//  AppPapple
//
//  Created by Christian Morante on 18/07/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Pods/Target Support Files/Pods-AppPapple/Pods-AppPapple.debug.xcconfig"
db_url=dragonball-api.com/api/characters
user_url=192.168.18.202:3001/fetchUserAppPapple
updateUser_url=192.168.18.202:3001/updateUserAppPapple
product_url=rickandmortyapi.com/api/character
registerUser_url=192.168.18.202:3001/registerUserAppPapple
verifyUser_url=192.168.18.202:3001/verifyUserAppPaple/v1
news_url=192.168.18.202:3001/news_url
shorts_url=192.168.18.202:3001/getShorts
multimedia_url=192.168.18.202:3001/getMultimedia
